.dd {
    background: #fff;
}

.gr.gs {
    background-color: #444950;
}

.gs {
    border-top: 1px solid #444950;
    color: #bec3c9;
}
.gr {
    font-size: small;
    padding: 7px 8px 8px;
}
.gs {
    border-top: 1px solid #444950;
    color: #bec3c9;
}

.gr {
    font-size: small;
    padding: 7px 8px 8px;
}
.b .r {
    border: 0;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
}

















